{% load static %}

<header class="wrapper">
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="">Explore</a>
        <a href="">Games</a><div class="hero-section__search">
        <div class="login">
            {% if user.is_authenticated %}
                <a class="create" href="create/">Create</a>
                {% if user.profile.id %}
                    <div id="mySidenav" class="sidenav">
                        <p>Welcome {{ user.username }}</p>
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="{% url 'profile' user.profile.id %}">Profile</a>
                        <a href="">SETTINGS</a> <!--SETTINGS-->
                        <a href="{% url 'edit-profile' %}">Edit Profile</a>
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                      </div>
                      
                      <!-- Use any element to open the sidenav -->
                    <span onclick="openNav()">
                        {% if user.profile.profile_image %}
                        <img src="{{ user.profile.profile_image.url }}" width="50" height="50">
                        {% else %}
                        <img src="{% static 'GProfile/images/pfp.jpg' %}" class="rounded-circle" width="50" height="50">
                        {% endif %}
                    </span>
                {% endif %}
            {% else %}
                <a class="nav-link" href="{% url 'register' %}">Register</a>

                <a class="nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
    <!--</div> -->
</div>
</header>
